@model ManageUsersViewModel
@{
    ViewBag.Title = "Manage Users";
}

<div>
    <h3>Manage Users' Roles</h3>
</div>
<hr />
<table id="table_id" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>UserName</th>
            @foreach (var role in Model.AllRoles)
            {
                <th>@role</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.DisplayName</td>
                <td>@user.UserName</td>
                @for (var i = 0; i < Model.AllRoles.Count(); i++)
                {
                    if (user.UserRoles.Contains(Model.AllRoles[i]))
                    {
                        <td><i class="ti-flag-alt menu-icon"></i></td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td>
                    <a title="Manage User's Roles" href="@Url.Action("EditUserRoles", "Home", new { id = user.UserId })">
                        <i class="ti-list text-primary"></i>
                    </a>
                </td>
            </tr>
        }
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}